﻿<pre hidden="hidden" id="data">
</pre>

<div class="mainView container-fluid">
    <div class="row" style="margin-bottom:50px;">
        <div class="card" id="menuAnchor">
            <div class="card-header clearfix">
                <div class="btn-group-sm pull-xs-left col-xs-6" *ngIf="dirtyParts.length !== 0">

                    <div class="btn btn-outline-primary" [(ngModel)]="mode" btnRadio="EDITOR">
                        <i class="fa fa-pencil fa-lg"></i>
                        <span class="hidden-xs-down">Editor</span>
                    </div>
                    <div class="btn btn-outline-primary" (click)="previewMode()" [(ngModel)]="mode" btnRadio="PREVIEW">
                        <i class="fa fa-eye fa-lg"></i>
                        <span class="hidden-xs-down">Preview</span>
                    </div>

                </div>

                <div class="btn-group-sm pull-xs-right" style="margin-right: 5px;">
                    <div class="btn btn-file btn-outline-primary" (click)="restore()">
                        <i class="fa fa-database fa-lg"></i>
                        <span class="hidden-xs-down">Restore</span>
                    </div>
                    <div class="btn btn-file btn-outline-primary">
                        <i class="fa fa-upload fa-lg"></i>
                        <span class="hidden-xs-down">Import</span>

                        <fileservice (complete)="import($event)"> </fileservice>
                    </div>
                    <div class="btn btn-outline-primary" *ngIf="dirtyParts.length !== 0" (click)="export()">
                        <i class="fa fa-download fa-lg"></i>
                        <span class="hidden-xs-down">Export</span>
                    </div>
                    <!--<button class="btn btn-outline-primary" *ngIf="mode == 'EDITOR'" (click)="settings()" type="button">
                    <i class="fa fa-cogs fa-lg"></i>
                    <span class="hidden-xs">Global Settings</span>
                </button>-->
                    <!--<button class="btn btn-info-outline" *ngIf="mode == 'EDITOR'" (click)="focusAlt()" type="button">
                    <i class="fa fa-arrow-down fa-lg"></i>
                </button>-->
                </div>

            </div>
            <div class="card-block container-fluid" *ngIf="mode == 'PREVIEW'">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                        <codemirror usage="PREVIEW" [value]="output"></codemirror>
                    </div>
                </div>
            </div>

            <div class="card-block container-fluid" *ngIf="mode == 'EDITOR' && restoreData">
                <div class="row">
                    <div *ngIf="dirtyParts?.length > 0" class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                        <codemirror usage="CONTEXT" [value]="dirtyParts[page].context"></codemirror>
                    </div>
                </div>

                <div *ngIf="dirtyParts?.length > 0" class="row horizontal-slide" style="width: 99%; padding-top: 20px;" id="altAnchor">
                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6" *ngFor="let a of dirtyParts[page].alternatives; let i = index">

                        <div [ngClass]="dirtyParts[page].selection != i ? 'card card-warning-outline clearfix' : 'card card-success-outline clearfix'">
                            <div [ngClass]="dirtyParts[page].selection != i ? 'card-header card-warning-outline clearfix' : 'card-header card-success-outline clearfix'" style="max-height:45px">
                                <label [ngClass]="dirtyParts[page].selection != i ? 'pull-xs-left text-warning' : 'pull-xs-left text-success'" style="width:100%; cursor:pointer;" [(ngModel)]="dirtyParts[page].selection" (ngModelChange)="selection($event)" [btnRadio]="i" uncheckable>
                                    <i [ngClass]="dirtyParts[page].selection != i ? 'fa fa-times fa-lg' : 'fa fa-check fa-lg'"></i>&nbsp;&nbsp;{{dirtyParts[page].tag + "/" + a.tag}}
                                </label>
                                <!--<div [ngClass]="dirtyParts[page].selection != i ? 'btn btn-warning-outline btn-sm pull-xs-right' : 'btn btn-success-outline btn-sm pull-xs-right'">
                                <i class="fa fa-music"> </i>
                            </div>-->
                            </div>
                            <div class="card-block clearfix">
                                <codemirror usage="ALTERNATIVE" [value]="a.code"></codemirror>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row  navbar-fixed-bottom" id="footer">
    <div class="col col-xs-12">
        <div style="opacity:0.8;">
            <div *ngIf="mode == 'EDITOR' && restoreData" ng-hide="dirtyParts.length == 0" class="container-fluid" id="navAnchor">
                <div class="col-xs-5 btn-group-sm pull-xs-left">
                    <button *ngIf="selectionExists" class="btn btn-primary" (click)="hold()" type="button">
                        <i class="fa fa-link fa-lg"></i>
                        <span class="hidden-md-down">Hold</span>
                    </button>
                    <button *ngIf="canUndo" class="btn btn-primary" (click)="undo()" type="button">
                        <i class="fa fa-undo fa-lg"></i>
                        <span class="hidden-md-down">Undo</span>
                    </button>
                    <button *ngIf="canUndo" class="btn btn-primary" (click)="unhold()" type="button">
                        <i class="fa fa-unlink fa-lg"></i>
                        <span class="hidden-md-down">Unhold all</span>
                    </button>
                </div>
                <div class="col-xs-2">
                    <input style="width:70px;" type="number" [(ngModel)]="paginator" (keypress)="($event.which === 13)?gotoPage(paginator):0" min="0" max="{{dirtyParts.length - 1}}" />
                    {{dirtyParts.length-1}}

                </div>
                <div class="col-xs-5 btn-group-sm pull-xs-right text-xs-right">
                    <div class="btn btn-primary" ng-disabled="page <= 0" (click)="gotoBegin()">
                        <i class="fa fa-chevron-left fa-lg"></i>
                        <span class="hidden-md-down">First</span>
                    </div>
                    <div class="btn btn-primary" ng-disabled="page <= 0" (click)="previous()">
                        <i class="fa fa-arrow-left fa-lg"></i>
                        <span class="hidden-md-down">Previous</span>
                    </div>
                    <div class="btn btn-primary" ng-disabled="page >= dirtyParts.length-1" (click)="next()">
                        <i class="fa fa-arrow-right fa-lg"></i>
                        <span class="hidden-md-down">Next</span>
                    </div>
                    <div class="btn btn-primary" ng-disabled="page >= dirtyParts.length-1" (click)="gotoEnd()">
                        <i class="fa fa-chevron-right fa-lg"></i>
                        <span class="hidden-md-down">Last</span>
                    </div>
                    <!--<button class="btn btn-info" (click)="focusMenu()" type="button">
                        <i class="fa fa-arrow-up fa-lg"></i>
                    </button>-->
                </div>
            </div>
        </div>
    </div>
</div>
