﻿<div class="mainView">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <div class="card card-primary-outline">
                    <a class="card-link">
                        <!--[routerLink]="['../sourcemanager']"
                       [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}"-->
                        <img height="250" width="395" class="card-img card-background-img" src="../../assets/imgs/sourcemanager.png" />
                        <div class="card-img-overlay">
                            <h4 class="card-title"> Source Manager </h4>
                            <p class="card-text" style="font-weight:bolder">Source Manager is a catalogue system for the music sheet sources. Source manager uses the FRBR bibliographic model and stores each source as a Work-Expression-Manifestation-Item combination.</p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-xs-4">
                <div class="card card-primary-outline">
                    <a class="card-link" [routerLink]="['../meditor']"
                       [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
                        <img height="250" width="395" class="card-img card-background-img" src="../../assets/imgs/meditor.png" />
                        <div class="card-img-overlay">
                            <h4 class="card-title"> MEditor </h4>
                            <p class="card-text" style="font-weight:bolder">MEditor is editor to mark and name the measures on the facsimile. This process is needed for a future analysis.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="card card-primary-outline">
                    <a href="http://www.edirom.de/edirom-projekt/software/">
                        <img height="250" width="395" class="card-img card-background-img" src="../../assets/imgs/analysis.jpg" />
                        <div class="card-img-overlay">
                            <h4 class="card-title"> Source analysis </h4>
                            <p class="card-text" style="font-weight:bolder">In the source analysis tool you can compare the measures of different sources and create related annotations.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="card card-info-outline">
                    <a class="card-link" [routerLink]="['../seditor']"
                       [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
                        <img height="250" width="395" class="card-img card-background-img" src="../../assets/imgs/seditor.png" />
                        <div class="card-img-overlay">
                            <h4 class="card-title"> Sequence Editor </h4>
                            <p class="card-text" style="font-weight:bolder">SEditor is an editor to produce a clean MEI. This editor allows to choose one from a lot of alternatives for a given MEI tags.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="card card-inverse card-info-outline">
                    <a class="card-link disabled" href="http://www.zemfi.de/resources/meico-mei-converter/">
                        <img height="250" width="395" class="card-img" src="../../assets/imgs/meico.png" />
                        <div class="card-img-overlay">
                            <h4 class="card-title"> MEICO </h4>
                            <p class="card-text" style="font-weight:bolder">Meico is a converter framework for MEI files into MSM and MIDI formats.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
