﻿<!--Header-Navigation-->

<nav class="navbar navbar-light bg-faded disable-select" id="header">

    <!-- Toggle Button -->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-content">
        &#9776;
    </button>
    <a class="collapse navbar-toggleable-xs navbar-brand brand" [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/svg/ZenMEM.svg">
    </a>
    <!-- Nav Content -->
    <div class="collapse navbar-toggleable-xs" id="nav-content">
        <ul class="nav navbar-nav">
            <li class="nav-item" style="margin-left:15px;">
                <!-- /toolsoverview -->
                <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}"><span class="fa fa-pencil-square-o fa-lg"></span> Tools</a>
            </li>
        </ul>
    </div>

</nav>
