﻿@charset "UTF-8";

div.mainView {
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;

}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

div.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

div.horizontal-slide div[class*="span"] {
    display: inline-block;
    float: none;
}

div.horizontal-slide div[class*="span"]:first-child {
    margin-left: 0;
}

/*.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}*/

#header {
    min-height: 50px;
    margin-bottom:10px;
}

#footer {
    bottom: 0;
    height: 50px;
    margin-bottom: 0px;
}

.navbar .brand > img { 
    height: 1.8rem; 
    margin-top: -8px;
    margin-right: 5px;
}

#header .navbar-brand {
    padding: 10px !important;
    width: 158px !important;
}

.side-panels {
    padding-left:0;
    padding-right:0;
    height:auto;
}
.properties-panel {
    min-width:100px;
}

.explorer-panel {
    min-width:100px;
}

.card-divider {
    padding-left: 0;
    padding-right: 0;
}

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.2);
}

.btn-vertically {
	height: calc(100vh - 100px);
    padding-left: 4px;
    padding-right:8px;
}

@media (min-width: $screen-xs-min) {
    .col-xs-auto { width: auto; }
}
@media (min-width: $screen-sm-min) {
    .col-sm-auto { width: auto; }
}
@media (min-width: $screen-md-min) {
    .col-md-auto { width: auto; }
}
@media (min-width: $screen-lg-min) {
    .col-lg-auto { width: auto; }
}

.active {

  stroke-width: 1px;
  stroke: #0275d8; 
  cursor: pointer;
}

.mouseover {
    fill-opacity: 0.4;
    cursor: pointer;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.sm-text {
    font-size:small;
}

.clean-ul
{
    list-style-position:inside;
    margin:0;
    padding:0;
    list-style-type: none;
}

.prop-description
{
    width:100px;
}

.card-background-img
{
    opacity:0.7;
}

.listactive {
    border-radius: 5px 5px 5px;
    border: 1px solid #0275d8;
}

.btn-primary-active {
    color: #fff;
    background-color: #014682;
    border-color: #01315a;
}

.dropdown-menu {
    min-width: 0px !important;
}

.blocks .btn-primary, .blocks .btn-success, .blocks .btn-info, .blocks .btn-warning
{
    margin: 0 3px;
    border-radius: 0;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1;
  border-radius: 10px;
}
.btn-circle.btn-lg {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xl {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xxl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.top5 { margin-top:-5px; }

.box-rotate {
    -webkit-transform: rotate(270deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(270deg);      /* to support IE 9 */
    transform: rotate(270deg);
}

