﻿<div class="mainView container-fluid disable-select">
    <div class="row">
        <div [ngClass]="propertiesView ? 'col col-xl-9' : 'col col-xl-12'">
            <div class="row">
                <div class="col col-xs-1">

                    <div class="card-block container-fluid" style="padding:10px;">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
                            <div class="btn-group blocks" role="group" aria-label="Modes">

                                <div class="btn btn-secondary" style="padding:6px;" [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="tools overview">
                                    <i class="fa fa-th fa-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col col-xs-11">
                    <div class="card card-secondary" style="margin-top:5px;">
                        <div class="card-block container-fluid" style="padding:5px;">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
                                <div class="btn-group btn-group-sm blocks" role="group" aria-label="Modes">

                                    <div class="btn btn-primary" [(ngModel)]="mode" btnRadio="drag" tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="select & drag">
                                        <i class="fa fa-hand-pointer-o fa-lg"></i>
                                    </div>

                                    <div class="btn-group btn-group-sm" dropdown keyboardNav="true">
                                        <div [ngClass]="mode === 'scissors' || mode === 'rect' || mode === 'points' || mode === 'touch' ?
                                            'btn btn-primary btn-primary-active' : 'btn btn-primary'" dropdownToggle>
                                            <i [ngClass]="mode | modeCreationIcon"></i> <span class="caret"></span>
                                        </div>
                                        <ul class="dropdown-menu" dropdownMenu role="menu">
                                            <li role="menuitem">
                                                <div class="dropdown-item btn btn-primary" [(ngModel)]="mode" btnRadio="rect" tooltipPlacement="right" tooltip-append-to-body="true" tooltip="draw rectangular measure">
                                                    <i class="fa fa-square-o fa-lg"></i>
                                                </div>
                                            </li>
                                            <li role="menuitem">
                                                <div class="dropdown-item btn btn-primary" [(ngModel)]="mode" btnRadio="touch" tooltipPlacement="right" tooltip-append-to-body="true" tooltip="draw rectangular measure via two points">
                                                    <i class="fa fa-dot-circle-o fa-lg"></i>
                                                </div>
                                            </li>
                                            <!--<li role="menuitem">
                                                <div class="dropdown-item btn btn-primary" [(ngModel)]="mode" btnRadio="points" tooltipPlacement="right" tooltip-append-to-body="true" tooltip="draw polygonal measure via points">
                                                    <i class="fa fa-share-alt fa-lg"></i>
                                                </div>
                                            </li>-->
                                            <li role="menuitem">
                                                <div class="dropdown-item btn btn-primary" [(ngModel)]="mode" btnRadio="scissors" tooltipPlacement="right" tooltip-append-to-body="true" tooltip="divide measure vertically">
                                                    <i class="fa fa-scissors fa-lg fa-rotate-90"></i>
                                                </div>
                                            </li>

                                            <li role="menuitem">
                                                <div class="dropdown-item btn btn-primary" [(ngModel)]="mode" btnRadio="hscissors" tooltipPlacement="right" tooltip-append-to-body="true" tooltip="divide measure horizontally">
                                                    <i class="fa fa-scissors fa-lg"></i>
                                                </div>
                                            </li>
                                            <!--<li class="divider dropdown-divider"></li>-->
                                        </ul>
                                    </div>

                                    <div class="btn-group btn-group-sm" role="group" dropdown keyboardNav="true">
                                        <div [ngClass]="mode === 'resize' || mode === 'edit' ?
                                            'btn btn-primary btn-primary-active' : 'btn btn-primary'" dropdownToggle>
                                            <i [ngClass]="mode | modeModificationIcon"></i> <span class="caret"></span>
                                        </div>
                                        <ul class="dropdown-menu" dropdownMenu role="menu">
                                            <li role="menuitem">
                                                <div class="dropdown-item btn btn-primary" [(ngModel)]="mode" btnRadio="edit" tooltipPlacement="right" tooltip-append-to-body="true" tooltip="edit measure">
                                                    <i class="fa fa-pencil fa-lg"></i>
                                                </div>
                                            </li>
                                            <li role="menuitem">
                                                <div class="dropdown-item btn btn-primary" [(ngModel)]="mode" btnRadio="resize" tooltipPlacement="right" tooltip-append-to-body="true" tooltip="resize measure">
                                                    <i class="fa fa-arrows-alt fa-lg"></i>
                                                </div>
                                            </li>
                                            <!--<li class="divider dropdown-divider"></li>-->
                                        </ul>
                                    </div>

                                    <div class="btn btn-primary" [(ngModel)]="mode" btnRadio="zoom" tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="zoom">
                                        <i class="fa fa-search-plus fa-lg"></i>
                                    </div>

                                    <div class="btn-group btn-group-sm blocks" role="group" aria-label="Commands">

                                        <div class="btn btn-success" (click)="lock()"
                                             *ngIf="selectionContainsUnlocked()" tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="lock measures">
                                            <i class="fa fa-lock fa-lg"></i>
                                        </div>
                                        <div class="btn btn-success" (click)="unlock()"
                                             *ngIf="selectionContainsLocked()" tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="unlock measures">
                                            <i class="fa fa-unlock-alt fa-lg"></i>
                                        </div>
                                        <div class="btn btn-success" (click)="moveToBack()"
                                             *ngIf="selectionExists()" tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="send to background">
                                            <i class="fa fa-level-down fa-lg"></i>
                                        </div>
                                        <div class="btn btn-success" (click)="removeMeasures()"
                                             *ngIf="selectionExists()" tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="remove measures">
                                            <i class="fa fa-eraser fa-lg"></i>
                                        </div>
                                        <div class="btn btn-success" (click)="convertToRectangle()"
                                             *ngIf="selectionExists()" tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="convert to rectangular measure">
                                            <i class="fa fa-share-square fa-lg"></i>
                                        </div>
                                    </div>
                                </div>

                               <!-- <div class="btn-group btn-group-sm blocks" role="group">
                                    <span>Movement: </span>
                                    <select class="custom-select-sm" id="movement" [(ngModel)]="item.currentMovement" name="movement">
                                        <option *ngFor="let m of item.movements" [value]="m.ordinal - 1">
                                            {{m.ordinal}}
                                        </option>
                                    </select>
                                    <div class="btn btn-warning" (click)="removeLastMovement()"
                                         tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="remove last created movement">
                                        <i class="fa fa-minus-square"></i>
                                    </div>
                                    <div class="btn btn-warning" (click)="createMovement()"
                                         tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="create new movement">
                                        <i class="fa fa-plus-square"></i>
                                    </div>
                                </div>-->

                                <div class="btn-group btn-group-sm blocks pull-xs-right" role="group">
                                    <div class="btn btn-info" [(ngModel)]="propertiesView" btnCheckbox tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="show properties view">
                                        <i [ngClass]="propertiesView ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></i>
                                    </div>
                                </div>

                                <div class="btn-group btn-group-sm blocks pull-xs-right" role="group" aria-label="Miscellaneous">
                                    <div class="btn btn-info" (click)="refresh()" tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="refresh">
                                        <i class="fa fa-refresh fa-lg"></i>
                                    </div>
                                    <div class="btn btn-info" [(ngModel)]="help" btnCheckbox tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="show/hide help">
                                        <i class="fa fa-question-circle-o fa-lg"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <div class="card" id="measuresDiv" style="height:70vh; min-height:300px; overflow-y:auto;">
                        <div class="card-block container-fluid" style="padding:0px;">
                            <mb-measures [imgSrc]="item.pages[itemPageIndex].imgPath"
                                         [width]="item.pages[itemPageIndex].width" [height]="item.pages[itemPageIndex].height"
                                         [mode]="mode" (selectionChanged)="onSelectionChanged($event)"  [measures]="item.pages[itemPageIndex].measures" [movement]="item.pages[itemPageIndex].measures.movement"> <!--[currentMovement]="item.currentMovement"
                                        [movements]="item.movements" -->
                            </mb-measures>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div style="max-height:15vh; overflow:hidden; min-height:100px;">
                        <p class="text-xs-left" style="font-size:x-small; font-weight:bolder">
                            Work: {{item.workTitle}}<br />
                            Expression: {{item.expressionTitle}}<br />
                            Manifestation: {{item.manifestationTitle}}<br />
                            Id: {{item.id}}<br />
                            Page: {{itemPageIndex + 1}}<br />
                           <!-- # Movements: {{item.movements.length}}<br />-->
                            Mode: {{mode}}<br />
                        </p>

                    </div>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-outline-primary" style="width:100%; height:15vh;" (click)="pageDecrement()" tooltip-append-to-body="true" tooltip="last page">
                        <i class="fa fa-chevron-left fa-lg"></i>
                    </button>
                </div>
                <div class="col-xs-7">
                    <div class="row">
                        <div class="col-xs-4" *ngFor="let page of item.pages | paginator: itemPageIndex">
                            <div class="card btn btn-outline-primary" style="max-height:15vh;
                                overflow:hidden; min-height:100px;" [(ngModel)]="itemPageIndex" [btnRadio]="item.pages.indexOf(page)">
                                <img class="card-img-top img-fluid card-background-img" width="100%" [src]="page.imgPath" />
                                <div class="card-img-overlay">
                                    <p class="card-text" style="font-weight:bolder;">page #{{item.pages.indexOf(page) + 1}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-outline-primary" style="width:100%; height:15vh;" (click)="pageIncrement()" tooltip-append-to-body="true" tooltip="next page">
                        <i class="fa fa-chevron-right fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="propertiesView" class="col col-xl-3" style="padding-top:5px;">

            <!--<div class="card-header clearfix">
                <div class="btn-group-sm pull-xs-left">
                    <div class="btn btn-outline-primary btn-sm" [(ngModel)]="explorer" btnRadio="LAYERS">
                        <span style="font-size:x-small;">Layers</span>
                    </div>
                    <div class="btn btn-outline-primary" [(ngModel)]="explorer" btnRadio="FACSIMILE">
                        <span style="font-size:x-small;">Facsimile</span>
                    </div>
                    <div class="btn btn-outline-primary" [(ngModel)]="explorer" btnRadio="MEASURES">
                        <span style="font-size:x-small;">Measures</span>
                    </div>
                </div>
            </div>-->
            <!--89vh-->
            <!--<div class="card-header clearfix card-outline-primary" data-toggle="collapse" data-target="#collapseMeasure" aria-expanded="false" aria-controls="collapseMeasure" style="max-height:45px;">
                <label class="pull-xs-left text-primary" style="width:100%; cursor:pointer;">
                    <i class="fa fa-arrow-down"></i>&nbsp;&nbsp;Measures
                </label>
            </div>-->


            <div class="card">
                
                    <div class="card-block" style="height: 52vh; overflow-y: auto;">
                        <div *ngIf="help">
                            <h6>Modes:</h6>
                            <span style="font-size:small">
                                The modes define the set of simple operations that can be applied to the measures and facsimile.
                                Only one mode can be active in the same time.
                            </span>
                            <ul class="clean-ul">
                                <li>
                                    <span class="tag tag-primary">
                                        <i class="fa fa-hand-pointer-o"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "pointer" mode to select and drag the measures. Use the left mouse button click to select a single measure. For the multiple selection use the combination of "shift" button with left mouse button click.</span>
                                </li>
                                <li>
                                    <span class="tag tag-primary">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <span style="font-size:small">
                                        - Use the "rect" mode to draw the rectangular measures.
                                        The selection feature is disabled in this mode. Please use the "pointer", "edit" or resize modes to select one or more measures.
                                    </span>
                                </li>
                                <li>
                                    <span class="tag tag-primary">
                                        <i class="fa fa-dot-circle-o"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "touch" mode to draw the rectangular measures via two points.</span>
                                </li>
                                <!--<li>
                                    <span class="tag tag-primary">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "points" mode to draw the polygonal measures via points.</span>
                                </li>-->
                                <li>
                                    <span class="tag tag-primary">
                                        <i class="fa fa-scissors"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "scissors" mode to divide the measure into multiple measures.</span>
                                </li>
                                <li>
                                    <span class="tag tag-primary">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <span style="font-size:small">
                                        - Use the "edit" mode to change the figure of measure or select the measures.
                                        In this mode you can drag the vertexes (blue points) or midpoints (red).
                                        Dragging of midpoints creates new vertexes. You can remove the vertexes by double click.
                                    </span>
                                </li>
                                <li>
                                    <span class="tag tag-primary">
                                        <i class="fa fa-arrows-alt"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "resize" mode to resize the measure or select the measures.</span>
                                </li>
                                <li>
                                    <span class="tag tag-primary">
                                        <i class="fa fa-search-plus"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "zoom" mode to zoom in or zoom out the facsimile.</span>
                                </li>
                            </ul>
                            <hr>
                            <h6>Commands:</h6>
                            <span style="font-size:small">
                                The commands apply the simple operations to the selected measures. The commands can be used without switching of modes.
                                The most commands are visible only if one or more measures are selected.
                            </span>
                            <ul class="clean-ul">
                                <li>
                                    <span class="tag tag-success">
                                        <i class="fa fa-lock"></i> / <i class="fa fa-unlock-alt"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "lock/unlock" command to prevent/enable the dragging of selected measures.</span>
                                </li>
                                <li>
                                    <span class="tag tag-success">
                                        <i class="fa fa-level-down"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "level down" command to send the selected measures into background.</span>
                                </li>
                                <li>
                                    <span class="tag tag-success">
                                        <i class="fa fa-eraser"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "eraser" command to remove the selected measures.</span>
                                </li>
                                <li>
                                    <span class="tag tag-success">
                                        <i class="fa fa-share-square"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "transform to rectangle" command to transform the selected measures into rectangles.</span>
                                </li>
                            </ul>
                            <hr>
                            <h6>Movement operations:</h6>
                            <span style="font-size:small">
                                This commands manage the movements.
                            </span>
                            <ul class="clean-ul">
                                <li>
                                    <span class="tag tag-warning">
                                        <i class="fa fa-minus-square"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "remove movement" command to remove the last created movement. If the last created movement contains measures, the operation can't be permitted.</span>
                                </li>
                                <li>
                                    <span class="tag tag-warning">
                                        <i class="fa fa-plus-square"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "create movemnt" command to create new empty movement.</span>
                                </li>
                                <li>
                                    <span class="tag tag-warning">
                                        Select current movement
                                    </span>
                                    <span style="font-size:small"> - Use the selection element to set the current movement. The new created measures will be automatically added to this movement.</span>
                                </li>
                            </ul>
                            <hr>
                            <h6>List operations:</h6>
                            <span style="font-size:small">
                                This commands can be passed to the measure lists or measure selections.
                            </span>
                            <ul class="clean-ul">
                                <li>
                                    <span class="tag tag-default">
                                        <i class="fa fa-minus-circle"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "decrement" command to decrement the ordinals of selected measures. If the list of selected measures contains the measure with ordinal '1', the decrement operation can't be permitted.</span>
                                </li>
                                <li>
                                    <span class="tag tag-default">
                                        <i class="fa fa-plus-circle"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "increment" command to increment the ordinals of selected measures.</span>
                                </li>
                            </ul>
                            <hr>
                            <h6>Miscellaneous:</h6>
                            <span style="font-size:small">
                                This commands and modes carry out the additional general functions.
                            </span>
                            <ul class="clean-ul">
                                <li>
                                    <span class="tag tag-info">
                                        <i class="fa fa-refresh"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "refresh" command to redraw the facsimile and undo the zooming changes.</span>
                                </li>
                                <li>
                                    <span class="tag tag-info">
                                        <i class="fa fa-question-circle-o"></i>
                                    </span>
                                    <span style="font-size:small"> - Use the "help" mode to show/hide this help message.</span>
                                </li>
                            </ul>
                            <hr>
                        </div>


                        <p class="sm-text card-text" *ngIf="item.pages[itemPageIndex].measures.length === 0">This page contains no measures. Create any to see they here. <span class="tag tag-pill tag-info">Tipp</span></p>

                        <!--TODO TODO-->
                        <ul *ngIf="item.pages[itemPageIndex].measures.length > 0">
                            <!--<li class="sm-text" *ngFor="let measure of item.pages[itemPageIndex].measures">-->
                               <!-- <span tooltipPlacement="up" tooltip-append-to-body="true" tooltip="# Measures: {{measure.movement}}">
                                    Movement {{measure.movement}}
                                </span>-->
                                <ul class="clean-ul">
                                    <li *ngFor="let measure of item.pages[itemPageIndex].measures | measuresOnPage: item.pages[itemPageIndex].measures">
                                        <div class="btn btn-sm" (ngModelChange)="measure.visible = $event; refresh()" [ngModel]="measure.visible" btnCheckbox tooltipPlacement="bottom" tooltip-append-to-body="true" tooltip="show/hide measure">
                                            <i [ngClass]="measure.visible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                                        </div>
                                        <span [ngClass]="selectedMeasures.includes(measure) ? 'btn btn-sm listactive' : 'btn btn-sm'" (click)="selectMeasures([measure])">Measure {{measure | measureName}}</span>
                                    </li>
                                </ul>
                            <!--</li>-->
                        </ul>


                    </div>
                    <hr>
                    <div class="card-block" style="height:40vh; overflow-y:auto; padding-bottom:0;">          
                        <p style="color:cornflowerblue; margin-top:-25px;font-size:12px;" align="right">Properties</p>
                        <p class="sm-text" *ngIf="selectedMeasures.length === 0">No measures are selected now. Select any measure to see its properties. <span class="tag tag-pill tag-info">Tipp</span></p>
                        <div class="sm-text" *ngIf="selectedMeasures.length > 1 && item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])] != undefined">
                            There are {{selectedMeasures.length}} selected measures:
                            <hr>
                            <ul class="clean-ul" style="margin-bottom:10px">
                                <li *ngFor="let s of selectedMeasures">
                                    Measure {{s | measureName}}
                                </li>
                            </ul>
                            <br />
                            <div class="btn btn-secondary btn-circle" tooltipPlacement="left" tooltip-append-to-body="true" tooltip="decrement ordinals" (click)="decrementSelected()">
                                <i class="fa fa-minus-circle"></i>
                            </div>
                            <div class="btn btn-secondary btn-circle" tooltipPlacement="left" tooltip-append-to-body="true" tooltip="increment ordinals" (click)="incrementSelected()">
                                <i class="fa fa-plus-circle"></i>
                            </div>
                            <hr>
                            Please select only one measure to see its properties. <span class="tag tag-pill tag-info">Tipp</span>
                        </div>
                        <div *ngIf="selectedMeasures.length == 1 && item.pages[itemPageIndex].measures[item.pages[itemPageIndex].
                         measures.indexOf(selectedMeasures[0])] != undefined">
                            <div class="form-group row top5">
                                <label for="ordinal-text-input" class="col-xs-3 col-form-label-sm sm-text">Ordinal: </label>
                                <div class="col-xs-4">
                                    <input type="number" class="form-control form-control-sm" id="ordinal-text-input"
                                           (keyup.enter)="refresh()" (blur)="refresh()"
                                           [(ngModel)]="item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])].ordinal">
                                </div>

                                <label for="suffix-text-input" class="col-xs-2 col-form-label-sm sm-text">Suffix: </label>
                                <div class="col-xs-3">
                                    <input class="form-control form-control-sm" (keyup.enter)="refresh()" (blur)="refresh()"
                                           [(ngModel)]="item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])].suffix" type="text" id="suffix-text-input">
                                </div>
                            </div>
                            <div class="form-group row top5">
                                <label class="col-xs-3 col-lg-3 col-form-label-sm sm-text" for="upbeat">Upbeat: </label>
                                <div class="col-xs-4 col-lg-4">
                                    <select class="form-control form-control-sm" id="upbeat"
                                            (keyup.enter)="refresh()" (blur)="refresh()"
                                            [ngModel]="item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])].upbeat"
                                            (ngModelChange)="item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])].upbeat =
                                            $event == 'true' ? true: false;">
                                        <option value="true">yes</option>
                                        <option value="false">no</option>
                                    </select>
                                </div>


                                <label class="col-xs-2 col-lg-2 col-form-label-sm sm-text" for="pause">Pause:</label>
                                <div class="col-xs-3 col-lg-3">
                                    <input type="number" class="form-control form-control-sm" id="pause"
                                           (keyup.enter)="refresh()" (blur)="refresh()"
                                           [(ngModel)]="item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])].pause">
                                </div>
                            </div>
                            <div class="form-group row top5">
                                <label class="col-xs-3 col-form-label-sm sm-text" for="locked">Locked:</label>
                                <div class="col-xs-4">
                                    <select class="form-control form-control-sm" id="locked"
                                            (keyup.enter)="refresh()" (blur)="refresh()"
                                            [ngModel]="item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])].locked"
                                            (ngModelChange)="item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])].locked =
                                            $event == 'true' ? true: false;">
                                        <option value="true">yes</option>
                                        <option value="false">no</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group row top5">
                                <label class="col-xs-3 col-form-label-sm sm-text" for="excluded">Excluded:</label>

                                <div class="col-xs-4">
                                    <select class="form-control form-control-sm" id="excluded"
                                            (keyup.enter)="refresh()" (blur)="refresh()"
                                            [ngModel]="item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])].excluded"
                                            (ngModelChange)="item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])].excluded =
                                            $event == 'true' ? true: false;">
                                        <option value="true">yes</option>
                                        <option value="false">no</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row top5">
                                <label class="col-xs-3 col-form-label-sm sm-text" for="movement">Movement:</label>
                                <div class="col-xs-4">
                                    <input type="number" class="form-control form-control-sm" id="ordinal-text-input"
                                           (keyup.enter)="refresh()" (blur)="refresh()"
                                           [(ngModel)]="item.pages[itemPageIndex].measures[item.pages[itemPageIndex].measures.indexOf(selectedMeasures[0])].movement">
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>


        </div>
    </div>
</div>
